.background-element {
    background-color: var(--black);
    background-image: url('../assets/images/background-color.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 483px;
    width: 100%;
}

@media (max-width: 992px) {
    .background-element {
        max-height: 240px;
        width: 100%;
        max-width: 100%;
    }
}
